*{
    font-family: sans-serif;
}

body
{
    background-image: url("background3.png");
    background-position: center;
    background-size: cover;
    background-color: rgb(150,150,150);
    background-blend-mode: lighten	;
}

header{
    border: 4px solid #03254C;
    border-radius: 10px;

    position: fixed;
    width: 98.7%;

    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
}

ul{
    display: flex;
    list-style: none;
}


.logo {
    width:100px;
    margin-right: auto;
    align-self: center;
}


.headerButton{

    text-decoration: none;
    text-transform: uppercase;
    color: #03254C;
    background-color: #FFA000;

    font-size: 20px;
    font-weight: 600;

    border: solid, #FFA000;
    border-radius: 20px;
    padding: 7px 25px;

    position: relative;
    align-self: flex-end;
    margin-right: 50px;

}

.headerButton:hover{
    color: #FFA000;
    background-color: #ffffff;
}

#signDiv{

    background-color: #FFC000;
    padding: 130px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6), 0 5px 5px 10px rgba(0,0,0,0.7);
    border-radius: 10px;

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    display: flex;
    justify-content: center;
    align-items: center;


    position: fixed;
    display: flex;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;


    border: 1px solid #1e3f5a;
    border-radius: 10px;

    font-style: italic;
}

button{
    font-size: 15px;
    font-weight: 600;
    background-color: #1e3f5a;

    padding: 10px 15px;
    border-radius: 40px;
    align-self: center;

}

#submit{
    font-size: 15px;
    font-weight: 600;
    background-color: #1e3f5a;

    padding: 10px 15px;
    border-radius: 40px;
    align-self: center;

}
